Importanto dados

In [6]:
import pandas as pd

Coletando os dados

In [7]:
dados_2019 = pd.read_csv('análise de dados/emprestimos-20192.csv')
dados_2020 = pd.read_csv('análise de dados/emprestimos-20201.csv')

Concatenando os dataframes

In [8]:
emprestimos_biblioteca = pd.concat([dados_2019,dados_2020],ignore_index=True)
emprestimos_biblioteca

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,2878753,Y016187,NaN,2019/07/01 08:27:35.306000000,2019/07/18 10:20:29.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO
1,2878754,2008015660,NaN,2019/07/01 08:40:51.029000000,2019/09/10 09:31:36.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO
2,2878755,2010073324,NaN,2019/07/01 08:40:51.093000000,2019/09/10 09:31:00.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO
3,2878756,2017039096,NaN,2019/07/01 08:40:51.129000000,2019/09/10 09:30:48.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO
4,2878757,2012036827,2019/07/31 10:18:02.087000000,2019/07/01 08:44:30.984000000,2019/08/28 09:55:49.000000000,2.015106e+09,ALUNO DE PÓS-GRADUAÇÃO
...,...,...,...,...,...,...,...
110243,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
110244,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
110245,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
110246,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
110247,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

Verificando duplicatas

In [9]:
emprestimos_biblioteca.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        ALUNO DE GRADUAÇÃO        1
2988924        L167566        2020/04/16 11:25:59.936000000  2020/03/17 17:47:45.745000000  2021/12/03 15:19:40.000000000  2.020101e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2988923        L155621        2020/04/16 11:25:59.960000000  2020/03/17 17:47:45.685000000  2021/12/03 15:19:48.000000000  2.020101e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2988922        2018031109     2020/03/29 10:17:16.672000000  2020/03/17 17:45:40.794000000  2021/03/25 10:22:11.000000000  2.018013e+10        ALUNO DE GRADUAÇÃO        1
2988921        2010075474     2020/03/29 10:17:16.700000000  2020/03/17 17:45:40.742000000  2021/03/25 10:22:01.000000000  2.018013e+10        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
2878762        2017031801     2019/07/29 09:32:42.366000000  2019/07/01 09:04:10.681000000  2019/08/28 11:27:28.000000000  2.019102e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2878761        2014070344     2019/07/29 09:32:42.385000000  2019/07/01 09:04:10.652000000  2019/08/28 11:27:35.000000000  2.019102e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2878760        L093612        2019/07/14 22:27:08.047000000  2019/07/01 08:59:11.354000000  2019/08/22 18:57:57.000000000  2.017009e+10        ALUNO DE GRADUAÇÃO        1
2878759        2013114834     2019/07/31 10:18:02.046000000  2019/07/01 08:44:31.076000000  2019/08/28 09:55:56.000000000  2.015106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2878758        2012036714     2019/07/31 10:18:02.067000000  2019/07/01 08:44:31.034000000  2019/08/07 10:04:54.000000000  2.015106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
Name: count, Length: 43153, dtype: int64

Excluindo duplicatas

In [10]:

emprestimos_biblioteca = emprestimos_biblioteca.drop_duplicates()

In [11]:
emprestimos_biblioteca.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        ALUNO DE GRADUAÇÃO        1
2988924        L167566        2020/04/16 11:25:59.936000000  2020/03/17 17:47:45.745000000  2021/12/03 15:19:40.000000000  2.020101e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2988923        L155621        2020/04/16 11:25:59.960000000  2020/03/17 17:47:45.685000000  2021/12/03 15:19:48.000000000  2.020101e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2988922        2018031109     2020/03/29 10:17:16.672000000  2020/03/17 17:45:40.794000000  2021/03/25 10:22:11.000000000  2.018013e+10        ALUNO DE GRADUAÇÃO        1
2988921        2010075474     2020/03/29 10:17:16.700000000  2020/03/17 17:45:40.742000000  2021/03/25 10:22:01.000000000  2.018013e+10        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
2878762        2017031801     2019/07/29 09:32:42.366000000  2019/07/01 09:04:10.681000000  2019/08/28 11:27:28.000000000  2.019102e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2878761        2014070344     2019/07/29 09:32:42.385000000  2019/07/01 09:04:10.652000000  2019/08/28 11:27:35.000000000  2.019102e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2878760        L093612        2019/07/14 22:27:08.047000000  2019/07/01 08:59:11.354000000  2019/08/22 18:57:57.000000000  2.017009e+10        ALUNO DE GRADUAÇÃO        1
2878759        2013114834     2019/07/31 10:18:02.046000000  2019/07/01 08:44:31.076000000  2019/08/28 09:55:56.000000000  2.015106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2878758        2012036714     2019/07/31 10:18:02.067000000  2019/07/01 08:44:31.034000000  2019/08/07 10:04:54.000000000  2.015106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
Name: count, Length: 43153, dtype: int64

In [12]:
emprestimos_biblioteca.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,2878753,Y016187,NaN,2019/07/01 08:27:35.306000000,2019/07/18 10:20:29.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO
1,2878754,2008015660,NaN,2019/07/01 08:40:51.029000000,2019/09/10 09:31:36.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO
2,2878755,2010073324,NaN,2019/07/01 08:40:51.093000000,2019/09/10 09:31:00.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO
3,2878756,2017039096,NaN,2019/07/01 08:40:51.129000000,2019/09/10 09:30:48.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO
4,2878757,2012036827,2019/07/31 10:18:02.087000000,2019/07/01 08:44:30.984000000,2019/08/28 09:55:49.000000000,2.015106e+09,ALUNO DE PÓS-GRADUAÇÃO

In [14]:
dados_exemplares = pd.read_parquet('análise de dados/dados_exemplares.parquet')
dados_exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [15]:
emprestimos_completo = emprestimos_biblioteca.merge(dados_exemplares)
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,2878754,2008015660,NaN,2019/07/01 08:40:51.029000000,2019/09/10 09:31:36.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO,242676,Acervo Circulante,Biblioteca Setorial do Centro Ciências da Saúd...,REGULAR,622,101102
1,2878755,2010073324,NaN,2019/07/01 08:40:51.093000000,2019/09/10 09:31:00.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO,903798,Acervo Circulante,Biblioteca Setorial do Centro Ciências da Saúd...,REGULAR,635,163334
2,2878756,2017039096,NaN,2019/07/01 08:40:51.129000000,2019/09/10 09:30:48.000000000,2.014079e+09,ALUNO DE GRADUAÇÃO,1291226,Acervo Circulante,Biblioteca Setorial do Centro Ciências da Saúd...,REGULAR,958,245356
3,2878757,2012036827,2019/07/31 10:18:02.087000000,2019/07/01 08:44:30.984000000,2019/08/28 09:55:49.000000000,2.015106e+09,ALUNO DE PÓS-GRADUAÇÃO,999309,Acervo Circulante,Biblioteca Setorial Prof. Francisco Gurgel De ...,REGULAR,639,82132
4,2878758,2012036714,2019/07/31 10:18:02.067000000,2019/07/01 08:44:31.034000000,2019/08/07 10:04:54.000000000,2.015106e+09,ALUNO DE PÓS-GRADUAÇÃO,1002945,Acervo Circulante,Biblioteca Setorial Prof. Francisco Gurgel De ...,REGULAR,341,184212
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105838,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,110098
105839,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,110171
105840,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,134173
105841,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,67712
105842,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,205153